<div class="header">
    <div class="col-md-5 col-md-offset-1">
        <div class="commandline-box">
            <div class="commandline-top">
                <div class="commandline-button">
                    <a href="https://www.facebook.com/profile.php?id=100000595156834">
                        <img href="/" src="images/facebook.png">
                    </a>
                    <a href="https://github.com/sam961124">
                        <img src="images/github-icon.png">
                    </a>
                    <a href="https://www.linkedin.com/in/shang-en/">
                        <img src="images/linkedin.png">
                    </a>
                </div>
            </div>
            <div class="commandline-command">
                <p class="glyphicon glyphicon-chevron-right"></p>
                ./Intro</br>
                <p style="font-size: 35px;">
                    Coding with <span style="color: #FA8072;font-weight: 400">Passion</span>
                </p>
                <p style="font-size: 35px;">
                    Design with <span style="color: #FA8072;font-weight: 400">Humanity</span>
                </p>
                <p style="font-size: 35px; color: #db9263">
                    I'm Sean Lee :)
                </p>
            </br>
                <p class="glyphicon glyphicon-chevron-right"></p>
                <div class="input-sign"></div>
            </div>
        </div>
    </div>
</div>
</div>
